body {
    background-color: #F2F5F9;
}

.app {
    height: 100vh;
    display: flex;
    padding: 48px;
    gap: 48px;
}

.collections-panel,
.practice-panel {
    border-radius: 24px;
    background-color: #FFFFFF;

    border: 2px solid rgba(15, 28, 48, 0.06);
    box-shadow: 0 20px 40px rgba(15, 28, 48, 0.05);
}

.collections-panel {
    width: 35%;
    padding: 32px;

    display: flex;
    flex-direction: column;
}

.collections-header {
    display: flex;
    flex-direction: column;
}

/* .collections-logo {
    width: 48px;
    height: auto;
} */

.collections-title {
    font-family: 'Fredoka', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #0F1C30;
}

.collections-subtitle {
    margin-top: 8px;
    font-family: 'comfortaa', sans-serif;
    font-size: 12px;
    color: #8E9EB4;
}

.collections-list {
    margin-top: 8px;
    flex: 1;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
}

/*Liste boşken*/
.collections-list.is-empty {
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*Liste doluyken*/
.collections-list:not(.is-empty) {
    justify-content: flex-start;
    align-items: stretch;
}

.empty-state {
    max-width: 240px;
}

.empty-title {
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #555D6D;
}

.empty-subtitle {
    margin-top: 8px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 13px;
    color: #8E9EB4;
}

.practice-panel {
    width: 65%;
}