body {
    background-color: #F2F5F9;
}

/* .header {
    height: 60px;

    display: flex;
    align-items: center;
    padding-left: 100px;
}

.logo {
    height: 24px;
} */

.app {
    height: 100vh;
    display: flex;
    padding: 24px;
    gap: 24px;
}

.collections-panel {
    width: 35%;
}

.practice-panel {
    width: 65%;
}

.collections-panel,
.practice-panel {
    border-radius: 24px;
    background-color: #FFFFFF;

    border: 2px solid rgba(15, 28, 48, 0.06);
    box-shadow: 0 20px 40px rgba(15, 28, 48, 0.05);
}