body {
    background-color: #F2F5F9;
}

.header {
    height: 60px;

    display: flex;
    align-items: center;
    padding-left: 100px;
}

.logo {
    height: 24px;
}

.hero {
    height: calc(100vh - 60px);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content {
    margin-top: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #0F1C30;
}

.hero-subtitle {
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    color: #3D5E8C;
    margin-top: 24px;
}

.hero-btn {
    margin-top: 24px;
    padding: 12px 12px 12px 24px;

    display: inline-flex;
    align-items: center;
    gap: 8px;

    border: none;
    border-radius: 24px;
    cursor: pointer;

    font-family: 'Comfortaa', sans-serif;
    font-weight: 600;
    font-size: 14px;
    background-color: #0F1C30;
    color: white;
    transition: all 0.2s ease;
}

.hero-btn:hover {
    background-color: #16253f;
    transform: translateY(-2px);
}

.hero-btn svg {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.hero-visual {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.hero-visual img {
    max-width: 100%;
    height: auto;
    display: block;
}